{% extends 'index.html' %}
{% block content %}
<h2>Danh Sách Khách Hàng</h2>
<br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Phân khúc</th>
        </tr>
        </thead>
        <tbody id="khach_hang_list">
        <!--  -->
        </tbody>
    </table>

<script>
        fetch('/api/khach_hang/')
        .then(response => response.json())
        .then(data => {
            const khachHangList = document.getElementById('khach_hang_list');
            data.forEach(khachHang => {
                const row = document.createElement('tr');
                console.log(khachHang);
                row.innerHTML = `
                    <td>${khachHang.ma_khach_hang}</td>
                    <td>${khachHang.ten_khach_hang}</td>
                    <td>${khachHang.phan_khuc}</td>
                `;
                khachHangList.appendChild(row);
            });
        });
</script>
{% endblock %}

