{% extends 'layout.html' %}

{% block content %}
<h2>Danh Sách Mặt Hàng</h2>
<a class="btn btn-primary" href="{% url 'shop:them_mat_hang' %}">Thêm mặt hàng</a>
<br><br>
<a class="btn btn-primary" href="{% url 'shop:upload_mat_hang' %}">Upload Mặt Hàng</a>
<br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã Mặt Hàng</th>
                <th>Tên Mặt Hàng</th>
                <th>Mã Nhóm Hàng</th>
                <th>Đơn Giá</th>
            </tr>
        </thead>
        <tbody>
            {% for mat_hang in list_mat_hang %}
            <tr>
                <td><a href="{% url 'shop:detail_mat_hang' mat_hang.ma_mat_hang %}">{{ mat_hang.ma_mat_hang }}</a></td>
                <td>{{ mat_hang.ten_mat_hang }}</td>
                <td>{{ mat_hang.ma_nhom_hang }}</td>
                <td>{{ mat_hang.don_gia }}</td>
                <td><a href="{% url 'shop:update_mat_hang' mat_hang.ma_mat_hang %}">Update</a></td>
                <td><a href="{% url 'shop:delete_mat_hang' mat_hang.ma_mat_hang %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}