{% extends 'layout.html' %}
{% block content %}
<h2>Danh Sách PKKH</h2>
<a class="btn btn-primary" href="{% url 'shop:them_pkkh' %}">Thêm PKKH</a>
<br><br>
<a class="btn btn-primary" href="{% url 'shop:upload_pkkh' %}">Upload PKKH</a>
<br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã PKKH</th>
                <th>Tên PKKH</th>
            </tr>
        </thead>
        <tbody>
            {% for pkkh in list_pkkh %}
            <tr>
                <td>{{ pkkh.ma_pkkh }}</td>
                <td>{{ pkkh.mo_ta_pkkh }}</td>
                <td><a href="{% url 'shop:update_pkkh' pkkh.ma_pkkh %}">Update</a></td>
                <td><a href="{% url 'shop:delete_pkkh' pkkh.ma_pkkh %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}