{% extends 'layout.html' %}

{% block content %}
<h2>Danh Sách Nhóm Hàng</h2>
<a class="btn btn-primary" href="{% url 'shop:them_nhom_hang' %}">Thêm Nhóm Hàng</a>
<br><br>
<a class="btn btn-primary" href="{% url 'shop:upload_nhom_hang' %}">Upload Nhóm Hàng</a>
<br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên Nhóm Hàng</th>
                <th>Mã Nhóm Hàng</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for nhom_hang in list_nhom_hang %}
            <tr>
                <td>{{ nhom_hang.ten_nhom_hang }}</td>
                <td>{{ nhom_hang.ma_nhom_hang }}</td>
                <td><a href="{% url 'shop:update_nhom_hang' nhom_hang.ma_nhom_hang %}">Update</a></td>
                <td><a href="{% url 'shop:delete_nhom_hang' nhom_hang.ma_nhom_hang %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    
{% endblock %}