{% extends 'layout.html' %}

{% block content %}
  <h2>Thêm Nhóm Hàng</h2>

  <form method="post">
    {% csrf_token %}
    
    <label for="ma_nhom_hang">Mã Nhóm Hàng:</label>
    <input type="text" class="form-control" style="width: 50%;" name="ma_nhom_hang" required>

    <label for="ten_nhom_hang">Tên Nhóm Hàng:</label>
    <input type="text" class="form-control" style="width: 50%;" name="ten_nhom_hang" required>

    <label for="mo_ta">Mô Tả:</label>
    <textarea name="mo_ta" class="form-control" style="width: 50%; height: auto; min-height: 150px;"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Lưu</button>
{% endblock %}

